.btn {
  width: 32px;
  color: hsla(0, 0%, 100%, 1);
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  padding: 0px;
  border: 1px solid hsla(0, 0%, 100%, 1);
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.right {
  margin-left: -1px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.left {
  margin-right: -1px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

@media screen and (max-width: 1000px) {
  .btn {
    width: 28px;
    font-size: 16px;
  }
}
