footer p {
  margin-top: 8px;
}

iframe {
  margin-top: 24px;
  width: 100%;
  height: 256px;
  border: 0;
}

@media screen and (max-width: 1000px) {
  iframe {
    height: 180px;
  }
}
