main {
  height: 654px;
  background-image: url("../assets/outdoor.png");
  background-size: cover;
  background-position: bottom;
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -84px;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}

main p {
  font-size: 1.25rem;
}

@media screen and (max-width: 1000px) {
  main {
    height: 512px;
  }

  main p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  main {
    margin-top: -59px;
  }
}
