.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.menu p {
  max-width: 720px;
}

p > span {
  font-weight: var(--fw-semibold);
}

.showcase {
  margin-top: 20px;
  display: flex;
  gap: 28px;
}

.showcase img {
  width: 256px;
}

@media screen and (max-width: 1000px) {
  .menu {
    margin-top: -84px;
  }

  .showcase {
    margin-top: 8px;
    gap: 18px;
  }

  .showcase img {
    width: 156px;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    margin-top: -84px;
  }

  .showcase {
    margin-top: 4px;
    gap: 12px;
  }

  .showcase img {
    width: 100px;
  }
}

@media screen and (max-width: 380px) {
  .showcase {
    gap: 12px;
  }

  .showcase img {
    width: 80px;
  }
}

@media screen and (max-width: 320px) {
  .showcase {
    gap: 12px;
  }

  .showcase img {
    width: 64px;
  }
}
