.rodizio {
  margin-top: -80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.rodizio p {
  max-width: 720px;
}

.rodizio .min {
  margin-top: 62px;
  margin-bottom: -62px;
  font-size: 12px;
  max-width: 880px;
}

.horario {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 6px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btnwrapper {
  margin-top: 4px;
  display: flex;
}

.btn {
  width: 32px;
  color: hsla(0, 0%, 100%, 1);
  font-size: 18px;
  font-weight: 400;
  background-color: transparent;
  padding: 0px;
  border: 1px solid hsla(0, 0%, 100%, 1);
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}

.right {
  margin-left: -1px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.left {
  margin-right: -1px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

@media screen and (max-width: 1000px) {
  .rodizio {
    margin-top: -80px;
  }

  .rodizio p {
    max-width: 720px;
  }

  .rodizio .min {
    margin-top: 56px;
    margin-bottom: -56px;
    font-size: 8px;
  }

  .horario {
    padding: 4px 12px;
  }

  .horario p {
    padding: 0px;
  }

  .horario svg {
    width: 20px;
  }

  .btn {
    width: 28px;
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .btnwrapper {
    margin-top: 0px;
  }

  .rodizio .min {
    margin-top: 44px;
    margin-bottom: -44px;
  }
}
